---
- name: restart unattended-upgrades
  systemd:
    name: unattended-upgrades
    state: restarted
    daemon_reload: true

- name: restart auditd
  systemd:
    name: auditd
    state: restarted
    daemon_reload: true

- name: restart fail2ban
  systemd:
    name: fail2ban
    state: restarted
    daemon_reload: true

- name: restart ssh
  systemd:
    name: ssh
    state: restarted
    daemon_reload: true

